
  .heading{
    font-size: 90px;
    text-align: center;
  }
  body{
    background-color: rgb(246, 161, 223);
  }
  .col{
    font-size: 25px;
    padding: 20px 0px 20px 0px;
    margin: 10px 0px;
  }
  .btn{
    background: rgb(203, 23, 164);
    border-radius: 4px;
    color: white;
    font-size: 20px;
    line-height: 27px;
    padding: 12px 20px;
  }
  @media (max-width: 900px) {
    .heading {
      font-size: 90px;
      line-height: 2;
    }
    
  }

  @media (min-width: 600px) {
    .heading {
        font-size: 44px;
        line-height: 2;
    } 
    body{
        text-align: center;
    }
  }
 